@tailwind base;
@tailwind components;
@tailwind utilities;

@function toRem($value) {
    @return ($value / 16) + rem;
}

$accentColor: #73ece5;
$mainTextColor: #fff;
$secondaryTextColor: #797f8d;
$bodyColor: #797f8d;
$backgroundColor: #202632;

body {
    background-color: $bodyColor;
}

section {
    transition: 0.3s;
}

h1,
h2 {
    color: $mainTextColor;
}

.text-accent {
    color: $accentColor;
}

.text-primary {
    color: $mainTextColor;
}

.bg-primary {
    background-color: $backgroundColor;
}

.container-one {
    margin: 13vh 0px 0% 12vh;
}

.container-two {
    margin: 0px 12vh 0px 0px;
    top: 0px;
    right: 0px;
}

* {
    cursor: default;
    color: $secondaryTextColor;
}

.html-tag {
    &::before {
        content: "< ";
        color: $accentColor;
        font-weight: normal;
    }
    &::after {
        content: " />";
        color: $accentColor;
        font-weight: normal;
    }
}

nav li {
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 0;
        background-color: $accentColor;
        margin-top: 4px;
        transition: 0.3s;
        position: absolute;
        transition: 0.3s;
    }
    &:hover {
        transition: 0.3s;
        color: $mainTextColor;
        &::after {
            width: 100%;
        }
    }
}

.container {
    padding: 20px 50px 0px;
    width: 50vw;
    max-height: 150vh;
    min-height: 87vh;
    border-radius: 7px;
    position: absolute;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.185);
    transition: 0.7s;
}

.title {
    color: $mainTextColor;
    font-size: toRem(30);
    margin: 5px unset;
    font-weight: bold;
}

@keyframes underline {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.blinking-underline::after {
    content: " _";
    animation-name: underline;
    color: currentColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
    font-size: toRem(16);
}

.section-highlight {
    border-left: 4px solid $accentColor;
    padding-left: 40px;
    transition: 0.4s;
}

.section {
    transition: 0.4s;
    border-left: none;
}
